@tailwind base;
@tailwind components;
@tailwind utilities;
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #0d0d0d;
    transform-origin: 0%;
}
